/node_modules
/config/.devKeys.js
/public/images
/public/javascripts/bootstrap-js
/public/javascripts/charts-js
/public/javascripts/jquery
/public/stylesheets/bootstrap-css
/public/stylesheets/css-modules
/public/stylesheets/fonts
cert.pem
mongod