extends layout
block content
    script(src='/javascripts/classStats.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    link(rel='stylesheet', href='/stylesheets/classStats.css')
    div.classSelect
        div(align='center')
            h2.header-title#class-name Class
            h2.header-title &nbspStatistics
            br
            div#select
                |Select 
                select#class-list
            div#student-faculty-ratio(align='right')
                h5#ratio
    div.charts
        .row
            .col-md-4#general.chart-container
                canvas#general-chart
            .col-md-5#assignment-averages.chart-container
                canvas#assignment-chart
        .row
            div(align='center') Assignment Comparisons
                br
                select.assignment-select#assignment-1
                |&nbsp
                select.assignment-select#assignment-2
            .col#assignment-comparison
                canvas#assignment-comparison-chart
        .row
            .col-md-5#assignment-growth.chart-container
                canvas#assignment-growth-chart