extends layout
block content
    script(src='/javascripts/classStats.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    div.classSelect
        div(align='center')
            h2 Class Statistics
            br
            | Select 
            select#classList(name= 'classes')