extends layout
block content
    script(src='/javascripts/classStats.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    link(rel='stylesheet', href='/stylesheets/classStats.css')
    div.classSelect
        div(align='center')
            h2.header-title#class-name Class
            h2.header-title &nbspStatistics
            br
            div#select
                |Select 
                select#class-list
            div#student-faculty-ratio(align='right')
                h5#ratio
    div.charts
        .row
            #general.chart-container
                canvas#general-chart
            #assignment-averages.chart-container
                canvas#assignment-chart
        .row
            .chart-container
                #assignment-selection-comparison(align='left') Assignment Comparisons
                    br
                    |Select a Rubric &nbsp
                    select#rubric-select 
                    br
                    select.assignment-select#assignment-1
                    br
                    select.assignment-select#assignment-2
                    br
                    button.bttn-minimal.bttn-xs.bttn-default#execute-analysis Run Analysis
                    br
                    .alert.alert-warning.alert-dismissible#same-assignment-error(role='alert')
                        |Pick Two Different Assignments
                #assignment-comparison
                    canvas#assignment-comparison-chart
        .row
            .chart-container
                #assignment-growth
                    canvas#assignment-growth-chart
                #growth-analysis
                    h5#assignment-derivative
                    |Pick Two Assignments to Compare Growth
                    br
                    select#start-assignment
                    br
                    select#end-assignment
                    br
                    button.bttn-minimal.bttn-xs.bttn-default#compare-derivative Compute Growth