extends layout
block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/logButton.js')
    section
      .welcome-loginbttn
        h1.title.animated.fadeIn Welcome to Ascent
        .btn-group-vertical.btn-fancy(role='group', aria-label='...')
          button#log-in-out.bttn-unite.bttn-md(type='button') Log in
      
      .left-Analytics
        article
          img(src='/images/analysisimage.png')
          h4 Analytics
          h5 Clean and Easy to Use
          p
            | Our data analysis makes it easy for teachers to identify where students may need help in as well as identify what assignment aspects would most benefit students.
      
      .right-Design
        article
          img(src='/images/analyticsimage.png')
          h4 Design
          h5 Clean and Easy to Use
          p
            | Our data analysis makes it easy for teachers to identify where students may need help in as well as identify what assignment aspects would most benefit students.
      
      .left-Progress
        article
          img(src='/images/processimage.png')
          h4 Progress
          h5 Clean and Easy to Use
          p
            | Our data analysis makes it easy for teachers to identify where students may need help in as well as identify what assignment aspects would most benefit students.
