extends layout
block content
    script(src='/javascripts/login.js')
    link(rel='stylesheet', href='/stylesheets/login.css')
    body
        section
          .mainBox
            .userNameLogin
              h5 Login with Username
              form(action='/login', method='POST')
                .input-group.margin-bottom-sm.col-sm-3.input-group-addon.fa.fa-id-card-o.
                i(aria-hidden='true')
                input#input_username.form-control(type='text', placeholder='Email', name='username', required='required')
                
                br
                
                .input-group.margin-bottom-sm.col-sm-3.input-group-addon.fa.fa-key
                span
                    i(aria-hidden='true')
                input#input_password.form-control(type='password', placeholder='Password', name='password', required='required')
                br
                br
                
                button#log-in.bttn-bordered.bttn-md.bttn-default.button-Fancy(type='submit') Submit

            .login-google
              .goog-Button
                button#log-in-google.bttn-bordered.bttn-md.bttn-default.button-Fancy(type='button') Log In With Google
