extends layout
block content
    link(rel='stylesheet', href='/stylesheets/PageNotFound404.css')
    br
    br
    p
        div(align='center' id='div1')
            |You do not have permission for this page, try logging in
            br
            img.className#IdName(src="/images/EmptyClassroom.jpeg" alt="EmptyClassRoom", style = "height:50%; width:50%;")
