extends layout

block content
    link(rel='stylesheet', href='/stylesheets/PageNotFound404.css')
    br
    br
    p
        //center stuff
        div(align='center' id='div1')
            |It looks like you have stumbled onto the 404 page
            br
            img.className#IdName(src="/images/EmptyClassroom.jpeg" alt="EmptyClassRoom", style = "height:50%; width:50%;")
        
       // ../images/classroom.jpg
