extends layout
block content
    link(rel='stylesheet', href='/stylesheets/signUp.css')
    script(src='/javascripts/signUp.js')
    h1 Sign Up
    form
        div.input-group.margin-bottom-sm.col-sm-3
            span.input-group-addon
                i.fa.fa-address-book(aria-hidden='true')
            input#email.form-control.col-xs-3(type='email', placeholder='Email')
        br
        div.input-group.margin-bottom-sm.col-sm-3.password-box
            span.input-group-addon
                i.fa.fa-lock(aria-hidden='true')
            input#password.form-control(type='password', placeholder='Password')
            input#verify-password.form-control(type='password', placeholder='Verify Password')
        br
        div.input-group.margin-bottom-sm.col-sm-3
            span.input-group-addon
                i.fa.fa-university(aria-hidden='true')
            input#school-name.form-control(type='text', placeholder='School Name')
        br
        div.input-group.margin-bottom-sm.col-sm-3
            span.input-group-addon
                i.fa.fa-key(aria-hidden='true')
            input#key.form-control(type='text', placeholder='Permission Key')
        button.btn.btn-default(type='button', onClick='validate()') Sign Up
