extends layout
block content
    link(rel='stylesheet', href='/stylesheets/statistics.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js')
    script(src='/javascripts/schoolStats.js')
    div#general-stats
        h1 General Statistics
        h4.studentCount
        h5.averageGPA
        h5.classCount
    br
    div#deviation
        h5.standardDeviation
        canvas#gpaDeviation
    hr
    .container-fluid
        .row
            div#genders.chart-container
                h5.genderCount
                canvas#genderChart
            div#sped.chart-container
                h5.spedCount
                canvas#spedChart
            div#ell.chart-container
                h5.ellCount
                canvas#ellChart
        hr
        .row
            div#grade.chart-container
                canvas#gradeChart
            div#reports.chart-container
                canvas#reportChart
            div#passrate.chart-container
                canvas#passChart
        hr
        .row
            div#slider(aligh='left')
            input#amount(type='text', readonly='', style='border:0; color:#3a3734; font-weight:bold;')
            div#slider-gpa.chart-container
                canvas#aboveXChart