extends layout
block content
    div.container
        #header
            div(align='center')
                h3= title
        #content
            div(align='center')
                    form#form_logIn(onsubmit = 'return validate()', name="logIn", method = "post", action = "/userLogIn")
                        p#demo
                        br
                        span Username
                        span &nbsp;
                        div.input-group.margin-bottom-sm.col-sm-3
                            span.input-group-addon
                                i.fa.fa-id-card-o(aria-hidden='true')
                            input#input_username(class = 'form-control', type="text", placeholder="Username", name="userName", required)
                        br
                        span Password
                        span &nbsp;
                        div.input-group.margin-bottom-sm.col-sm-3
                            span.input-group-addon
                                i.fa.fa-key(aria-hidden='true')
                            input#input_password(class = 'form-control', type="password", placeholder="Password", name="password", required)
                        br
                        br
                        button#logIn(type="Log In") Log In
                        br
                        br
                    script.
                          function validate() {
                              if(typeof document.getElementById("input_username").value != 'undefined')
                              {
                                  return true;
                              }
                              document.getElementById("demo").innerHTML = "Hello World";
                              console.log("Testing validations");
                              document.getElementById("input_username").value = "SLUMN";
                              //document.getElementById('userName').value='';
                              return false;
                              //document.getElementById('password').value='';
                              return false;
                          }