.row {
    display: block;
    overflow: hidden;
    padding-bottom: 15px
}

.filter-tool, #studentList {
    position: absolute;
}

#topic-chart {
    display: inline-block;
    height: 27vh;
    width: 27vw;
}

#graded-students {
    display: inline-block;
    height: 30vh;
    width: 30vw;
}

#studentList {
    display: none;
}

#perf-chart {
    display: inline-block;
    height: 35vh;
    width: 35vw;
}

#scoring-avg-chart {
    display: inline-block;
    width: 50%;
}

.filter-tool, .dropdown {
    display: inline-block;
}