body {
    background-color: #dcdcdd;
}

.chart-container {
    background-color: white;
    border-radius: 10px;
}

#class-name {
    text-decoration: underline;
}

#assignment-selection-comparison {
    background-color: white;
    border-radius: 10px;
}

.charts {
    display: none;
}

.header-title {
    display: inline-block;
}

#select {
    display: block;
}

#same-assignment-error {
    display: none;
}

#class-list {
    border-color: black;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 25px;
}

#student-faculty-ratio {
    float: right;
}

#general {
    display: inline-block;
    height: 30vh;
    width: 30vw;
    margin: 12px;
}

#assignment-averages {
    display: inline-block;
    height: 30vh;
    width: 30vw;
    margin: 12px;
}

#assignment-comparison {
    display: inline-block;
    height: 30vh;
    width: 30vw;
    margin: 12px;
}

#assignment-growth {
    display: inline-block;
    height: 40vh;
    width: 80vw;
}

#execute-analysis {
    border-color: black;
    color: black;
}