#general-stats {
    position: absolute;
    text-align: center;
    left: 45%;
}

#deviation {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 30%;
}

.row {
    display: inline-block;
    overflow: hidden;
    padding-bottom: 30px
}

#slider, #amount {
    text-align: left;
    width: 50%;
}

.chart-container {
    display: inline-block;
    height: 30vh;
    width: 30vw;
}